<!DOCTYPE html>
<html>
<head>
  <title>Project</title>



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonty Google -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- Wchodzimy na strone google fonts, klikamy quick use, zaznaczamy normal 400 i normal italic i kopujemy link poniżej
   i wklejamy go do naszej apki
   -->
  <!-- Oraz drugi font lato -wpisujemy i tylko normal400 -->




  <!--
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

   dzieki temu mamy mozliwosc dodania ikonki wyszukiwania ale my uzylismy gemu font-awesome-sass -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!--
  Znacznik powyżej dla użądzen mobilnych
  chodzi o to - ze rozmair roboczego obszaru ma sie dostosowac do uządzenie i początkowa szerokość to 1
  -->

</head>
<body>

  <%=  render 'layouts/header' %>

<%= yield %>

</body>
</html>
